@import url(themes.css);

html, * body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
}

h1 {
  font-size: var(--h1);
  display: flex;
  justify-content: center;
}

.toDos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  flex-wrap: wrap;
}

.to-do-user-input{
  display: flex;
  justify-content: center;
  margin: 2em;
}

.to-do-card {
  display: flex;
  align-items: center;
  outline: 0.2rem solid rosybrown;
  padding: 0.2em;
  margin: 0.3em;
  margin-left: 3em;
  margin-right: 3em;
  font-size: 2em;
}